*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.App {
  text-align: center;
  overflow: hidden;
}
.imh{
  width: 10%;
  position: relative;
  left: 750px;
 padding: 10px;
  display: flex;
  justify-content: center;
}
